.navbar-brand
{
  font-family: 'Permanent Marker', serif;
  color: rgb(204, 203, 203);
}
h1
{
  font-family: 'Permanent Marker', serif;
}
p
{
  font-family: 'Source Sans Pro', serif;
}
label
{
  font-family: 'Source Sans Pro', serif;
}
h3
{
   font-family: 'Caveat', serif;
   color: rgb(151, 149, 149);
   font-size: medium;
}
.postImage
{
  width:10em;
  height: 10em;
}
h5
{
   font-family: 'Caveat', serif;
   color: rgb(151, 149, 149);
  
}

.activityFeed
{
  height: 100%;
  overflow: auto;
}

.profile
{
  height: 20em;
}

.upload
{
  height: 20em;
  box-shadow: grey;
}

.profilePicture
{
  width:10em;
  height: 10em;
  border-radius: 1em;
}

#postSubmitButton
{
  width: 100%;
  background-color: rgba(4, 187, 187, 0.733);
}